@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background: url('../img/bg.jpeg') no-repeat center center;
  background-size: 400px; 
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
   z-index: 1;
}

.signup-wrapper {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-box {
  background: rgba(255, 255, 255, 0.9);
  padding: 40px 50px;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.2);
  text-align: center;
  width: 380px;
}

.signup-box h2 {
  color: #003366;
  margin-bottom: 20px;
  font-weight: 600;
}

.signup-box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.signup-box button {
  width: 100%;
  background: #003366;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.signup-box button:hover {
  background: #0059b3;
}

.signup-box p {
  margin-top: 15px;
  font-size: 14px;
}

.signup-box a {
  color: #0059b3;
  text-decoration: none;
  font-weight: 500;
}

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}
.form-button {
  text-align: center;
  margin-top: 20px;
}

.form-button .btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 8px;
  background-color: #003366;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 500;
  border: none;
}

.form-button .btn:hover {
  background-color: #0059b3;
}
